:root>* {

    --md-footer-bg-color: #D87171;
    --md-footer-fg-color: #ffffff;
    --md-footer-bg-color--dark: white;
    --md-footer-fg-color--lighter:  #D87171;
    --md-footer-fg-color--light:  #D87171;
    --mdc-typography-headline6-font-family: 'Open Sans', sans-serif;
    --mdc-typography-font-family: 'Open Sans', sans-serif;
    --md-typeset-a-color: #D87171;

}

[data-md-color-scheme="mypalette"] {
  --md-primary-fg-color:        #D87171;
  --md-primary-fg-color--light: #D87171;
  --md-primary-fg-color--dark:  #D87171;
  --md-accent-bg-color:                   #D87171;
  --md-accent-bg-color--light:            #D87171;
  --md-accent-bg-color:                   #D87171;
  --md-accent-fg-color:                  white;
  --md-accent-fg-color--light:           white;
  --md-accent-fg-color--transparent:      white;
}


.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .md-typeset .md-button--primary {
    border-width: 1px;
    border-color: rgb(219, 219, 219);
    border-radius: 4px;
  }

.cardContent {
  padding: 16px;
  font-size: 16px;
  color: rgb(32, 32, 32);
}

.md-typeset h2 {
    font-weight: 500;
}

.mdc-typography--body2 {
    font-weight: 300;
    font-size: 14px;
}
